<div class="reveal">
  <div class="slides">
    <!-- Wycliffe trivia -->
    <section>
      <section data-markdown>
        <textarea data-template>
          About how many languages are spoken in the world
          (including sign languages)?
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          About how many languages are spoken in the world
          (including sign languages)?
          1. 2,000
          2. 7,000
          3. 12,000
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          About how many languages are spoken in the world
          (including sign languages)?
          # 7,000
        </textarea>
      </section>
    </section>
    <section>
      <section data-markdown>
        <textarea data-template>
          How many languages have the entire Bible?
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many languages have the entire Bible?
          1. 700
          2. 1,000
          3. 1,500
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many languages have the entire Bible?
          # 700
        </textarea>
      </section>
    </section>
    <section>
      <section data-markdown>
        <textarea data-template>
          How many have the New Testament
          (but not the whole Bible)?
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many have the New Testament
          (but not the whole Bible)?
          1. 1,000
          2. 1,500
          3. 5,000
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many have the New Testament
          (but not the whole Bible)?
          # 1,500
        </textarea>
      </section>
    </section>
    <section>
      <section data-markdown>
        <textarea data-template>
          How many active translation projects are going on right now?
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many active translation projects are going on right now?
          1. 1,200
          2. 1,800
          3. 2,600
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many active translation projects are going on right now?
          # 2,600
        </textarea>
      </section>
    </section>
    <section>
      <section data-markdown>
        <textarea data-template>
          How many remaining languages need a translation project to begin?
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many remaining languages need a translation project to begin?
          1. 800
          2. 1,400
          3. 2,100
        </textarea>
      </section>
      <section data-markdown>
        <textarea data-template>
          How many remaining languages need a translation project to begin?
          # 2,100
        </textarea>
      </section>
    </section>
  </div>
</div>
